* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
@font-face {
  font-family: Norse;
  src: url(font/Norse-Bold.otf);
}
:root {
  --background-color: #f9fafb;
}
.logo-container {
  font-family: Norse;
  font-size: 4rem;
  color: white;
}
.logo-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 150px;
  width: 34vw;
  background-color: rgba(0, 0, 0, 0.679);
  padding: 20px 100px 20px 100px;
}
.odin-logo {
  width: 90px;
  height: 100%;
  object-fit: contain;
}
.img-container > img {
  height: 100vh;
  object-fit: cover;
  width: 34vw;
}
.main-container {
  display: flex;
  width: 100%;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
  justify-content: flex-start;
  gap: 70px;
}
.form-container {
  display: flex;
  gap: 10px;

  padding: 0px;
  align-items: center;
  width: 100%;
}

.msg {
  font-size: 1.5rem;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}
.submit-btn {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.submit-btn > button {
  padding: 12px 10px 12px 10px;
  background-color: #596d48;
  border: none;
  color: white;
  width: 20%;
  border-radius: 8px;
  font-weight: 800;
  font-size: 1rem;
}
.submit-btn > button:hover {
  background-color: #82996d;
}

label {
  display: flex;
  flex-direction: column;
}
label > span {
  font-size: 0.8rem;
  font-weight: 550;
  padding-bottom: 3px;
  color: rgb(70, 68, 68);
}

input {
  padding: 5px;
  background-color: transparent;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 250px;
}
.msg > span,
.msg {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  padding-left: 0px;
}
.msg {
  padding-left: 20px;
}

.Login {
  padding-top: 30px;
  padding-left: 15px;
}

a.login-link {
  color: #596d48;
  text-decoration: none;
  font-weight: 700;
}
a.login-link:hover {
  color: #acc495;
}

.form-shadow {
  width: 100%;
  margin: 0;
  padding: 30px 0;
  box-shadow: 2px 5px 15px -3px rgba(33, 33, 33, 0.1);
}
.input-main-container,
h2,
.submit-btn,
.Login {
  padding-left: 40px;
}

.password:invalid {
  border: 1px solid red;
}
input:focus {
  border: 2px solid #1e90ff;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
  outline: none;
}
